.remark-slide-content h1 {
  font-size: 44pt;
}

.remark-slide-content h2 {
  font-size: 36pt;
}

.remark-slide-content h3 {
  font-size: 30pt;
}

.remark-slide-content {
  font-size: 24pt;
}

.remark-slide-number {
  font-size: 18pt;
}
